/* Common */
:root {
    --green: #7fad39;
    --light-silver: #f5f5f5;
}

.primary-text {
    color: var(--green);
}

.light-silver-bg {
    background-color: var(--light-silver);
}

/* Header */
.header-logo {
    font-size: 24px;
}

.header-logo:hover {
    color: var(--green);
}

/* Hero */
.category-list-item:hover {
    color: var(--green);
}

.hero-section-bg {
    background-image: url("../public/assets/img/hero/hero-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
